h1 {
    color: rgb(18, 97, 97);
    text-align: center;
    text-size-adjust: 50px ;
    font-family: Helvetica;
    background-color:thistle;
    line-height: 80px;
    margin:auto;
    padding: 10px;

}

.Container {
text-align:center;
height: 300px;
width: 300px;
}
.container p {
text-size-adjust: 60px;
margin: auto;
padding: 10px;
text-align: center;
color:teal;
background-color:teal;
background-size: 20%;

}
.Text-formal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: 30px;
    text-align: center;
    padding-right: 300px;
    padding-left: 700px;
    padding-top: 200px;
   max-width:500px;




}
.area{
    background: url(Render/back.jpg);
    background-size: 100%;
    height: 100vh;
}