.navbar {
    text-align: center;
    color: rgb(18, 97, 97);
    text-size-adjust: 50px ;
    font-family: Helvetica;
    background-color:thistle;
    line-height: 80px;
    margin:auto;
    padding: 0px;
}
.title {
    background-color:white;

}
h1 {
    text-align:center;
text-size-adjust: 50px;
font-family: Helvetica;

}
img{

 max-width: 500px;
height: auto;

    border: 5px solid #f8f8e0;

    padding: 1px;
    border-radius: 10px;

}
.first {
    width: 100%;
    height: 80px;
background-color:rgb(18, 97, 97) ;
padding: 10px;
font-family: Helvetica;
}